body{
    background-color: rgba(2, 0, 1, 0.911);
}
.col-12{
    margin-top: 20px;
    text-align: center;
    color: rgb(153,153,0);
    font-size: 50px;
}
.col-4{
    font-size: 30px;
    font-weight: 800px;
    padding-top: 0;
    margin-top: 30px;
    border-radius: 50px;
    color:blue
}
h2{
    color: blueviolet;
    text-decoration: underline;
}
img{
    margin-top: 40px;
    height:500px;
    border-radius: 50px;
}
.col-5{
    margin-left: 40%;
    margin-bottom: 20px;
}
a{
    color: rgb(153,153,0);
    font-size:30px ;
    font-weight: 900;
}
.akanname{
    width:80%;
    background-color: rgba(19, 49, 102, 0.301);
    color:whitesmoke;
    text-align: center;
    margin-top: 30px;
    margin-left: 10%;
    color:rgb(153,153,0);
}
#output{
    color:bisque;
    background-color: rgb(10, 50, 160);
    height:60px;
    width:20%;
    margin-left: 20%;
    margin-top: 30px;
}